<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.permission.dao.IUserDao" >

  <resultMap id="BaseResultMap" type="com.ncu.testbank.permission.data.User" >
    <id column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="second_pwd" property="second_pwd"/>
    <result column="name" property="name"/>
  </resultMap>
  
  <sql id="Base_Column_List">
  	username, password, name, second_pwd
  </sql>
  
  <select id="getUser" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT 
  		<include refid="Base_Column_List"></include>
  	FROM 
  		user
  	WHERE 
  		username = #{username}
  	LIMIT 1
  </select>
  
  <insert id="insertOne" parameterType="com.ncu.testbank.permission.data.User">
  	INSERT INTO 
  		user
  	VALUES(#{username},#{password},#{second_pwd},#{name})
  </insert>
  
  <insert id="loadCsv" parameterType="java.lang.String">
  	LOAD DATA LOCAL INFILE #{file} INTO TABLE user 
	CHARACTER SET gbk FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"' LINES TERMINATED BY '\n'
  </insert>
  
  <update id="updateOne" parameterType="com.ncu.testbank.permission.data.User">
  	UPDATE
  		user
  	<set>
  		<if test="password != null and password != ''">
  			password = #{password},
  		</if>
  		<if test="second_pwd != null and second_pwd != ''">
  			second_pwd = #{second_pwd},
  		</if>
  		<if test="name != null and name != ''">
  			name = #{name},
  		</if>
  	</set>
  	WHERE
  		username = #{username}
  </update>
  
  <delete id="deleteOne" parameterType="java.lang.String">
  	DELETE FROM
  		user
	WHERE
		username = #{username}  		
  </delete>
  
  <delete id="deleteData" parameterType="java.lang.String">
	DELETE FROM
		user
	WHERE
		username in
		<foreach item="username" index="index" collection="list" open="(" separator="," close=")">
			#{username}
		</foreach>
  </delete>
  
</mapper>