<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.permission.dao.IUserDao" >

  <resultMap id="BaseResultMap" type="com.ncu.testbank.permission.data.User" >
    <id column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="second_pwd" property="second_pwd"/>
    <result column="name" property="name"/>
  </resultMap>
  
  <sql id="Base_Column_List">
  	username, password, name, second_pwd
  </sql>
  
  <select id="getUser" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT 
  		<include refid="Base_Column_List"></include>
  	FROM 
  		user
  	WHERE 
  		username = #{username}
  	LIMIT 1
  </select>
  
</mapper>