<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.teacher.dao.IExamDao" >

	<resultMap id="BaseResultMap" type="com.ncu.testbank.teacher.data.Exam" >
	  <id column="exam_id" property="exam_id"/>
	  <result column="template_id" property="template_id"/>
	  <result column="start_time" property="start_time"/>
	  <result column="end_time" property="end_time"/>
	  <result column="score" property="score"/>
	  <result column="user_id" property="user_id"/>
	  <result column="status" property="status"/>
	</resultMap>
	
	<resultMap id="OnlineViewResultMap" type="com.ncu.testbank.teacher.data.view.OnlineExamView" >
	  <id column="exam_id" property="exam_id"/>
	  <result column="template_id" property="template_id"/>
	  <result column="start_time" property="start_time"/>
	  <result column="end_time" property="end_time"/>
	  <result column="score" property="score"/>
	  <result column="student_id" property="student_id"/>
	  <result column="student_name" property="student_name"/>
	  <result column="level" property="level"/>
	  <result column="course_name" property="course_name"/>
	  <result column="status" property="status"/>
	</resultMap>
	
	<resultMap id="HistoryViewResultMap" type="com.ncu.testbank.teacher.data.view.HistoryExamView" >
	  <id column="exam_id" property="exam_id"/>
	  <result column="template_id" property="template_id"/>
	  <result column="start_time" property="start_time"/>
	  <result column="end_time" property="end_time"/>
	  <result column="score" property="score"/>
	  <result column="user_id" property="user_id"/>
	  <result column="level" property="level"/>
	  <result column="single_num" property="single_num"/>
	  <result column="multiple_num" property="multiple_num"/>
	  <result column="judge_num" property="judge_num"/>
	  <result column="shortanswer_num" property="shortanswer_num"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		exam_id, template_id, start_time, end_time, score, user_id, status
	</sql>

	<insert id="insertOne" parameterType="com.ncu.testbank.teacher.data.Exam">
		INSERT INTO
			exam(exam_id, template_id, start_time, end_time, user_id)
		VALUES(#{exam_id}, #{template_id}, #{start_time}, #{end_time}, #{user_id})
	</insert>
	
	<delete id="deleteOne" parameterType="java.lang.Long">
		DELETE FROM
			exam
		WHERE
			exam_id = #{exam_id}
	</delete>
	
	<select id="searchOnlineExamByTID" resultMap="OnlineViewResultMap">
		SELECT
			exam_id, template_id, start_time, end_time, score, student_id, student_name, level, status
		FROM
			onlineexam_v
		WHERE
			teacher_id = #{teacher_id}
		AND
			course_id = #{course_id}
	</select>
	
	<select id="searchOnlineExamBySID" resultMap="OnlineViewResultMap" parameterType="java.lang.String">
		SELECT
			exam_id, template_id, start_time, end_time, score, student_id, student_name, level, course_name, status
		FROM
			onlineexam_v
		WHERE
			student_id = #{teacher_id}
	</select>
	
	<select id="searchHistoryExam" resultMap="HistoryViewResultMap">
		SELECT
			exam_id, template_id, start_time, end_time, score, user_id, level, single_num, multiple_num, judge_num, shortanswer_num
		FROM
			historyexam_v
		WHERE
			teacher_id = #{teacher_id}
		AND
			course_id = #{course_id}
	</select>
	
	<select id="getExamById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			exam 
		WHERE
			exam_id = #{exam_id }
	</select>
	
	<select id="searchOverdueExam" resultMap="BaseResultMap" parameterType="java.util.Date">
		SELECT
			<include refid="Base_Column_List"></include>
		FROM
			exam 
		WHERE
			status = 0
		AND
			#{now } > end_time 
	</select>
	
	<update id="updateStatus" parameterType="java.lang.Long">
		UPDATE
			exam
		SET
			status = 1
		WHERE
			exam_id = #{exam_id }
	</update>
	
	<update id="updateScore">
		UPDATE
			exam
		SET
			score = #{score }
		WHERE
			exam_id = #{exam_id }
	</update>
	
</mapper>