<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.teacher.dao.IJudgeExamDao" >
	<resultMap id="ViewResultMap" type="com.ncu.testbank.teacher.data.view.JudgeExamView" >
	  <id column="question_id" property="question_id"/>
	  <result column="exam_id" property="exam_id"/>
	  <result column="stuanswer" property="stuanswer"/>
	  <result column="rightanswer" property="rightanswer"/>
	  <result column="score" property="score"/>
	  <result column="question" property="question"/>
	  <result column="type" property="type"/>
	</resultMap>
	
	<insert id="insertJudge" parameterType="com.ncu.testbank.teacher.data.Question">
		INSERT INTO
			judge_exam(exam_id, question_id, rightanswer)
		VALUES(#{test_id}, #{question_id}, #{answer})
	</insert>
	
	<!-- 检索结果里没有答案字段的题目 -->
	<select id="searchExamJudgeNoAnswer" parameterType="java.lang.Long" resultMap="ViewResultMap">
		SELECT
			question_id, exam_id, stuanswer, score, question, type
		FROM
			judge_exam_v
		WHERE
			exam_id = #{exam_id}
	</select>
	
	<!-- 检索判断题 -->
	<select id="searchExamJudge" parameterType="java.lang.Long" resultMap="ViewResultMap">
		SELECT
			question_id, exam_id, stuanswer, rightanswer, score, question, type
		FROM
			judge_exam_v
		WHERE
			exam_id = #{exam_id}
	</select>
	
	<delete id="deleteOne">
		DELETE FROM judge_exam
		WHERE
			exam_id = #{exam_id}
		AND
			question_id = #{question_id}
	</delete>
</mapper>