<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.teacher.dao.IMultipleExamDao" >
	<resultMap id="ViewResultMap" type="com.ncu.testbank.teacher.data.view.MultipleExamView" >
	  <id column="question_id" property="question_id"/>
	  <result column="exam_id" property="exam_id"/>
	  <result column="stuanswer" property="stuanswer"/>
	  <result column="rightanswer" property="rightanswer"/>
	  <result column="score" property="score"/>
	  <result column="question" property="question"/>
	  <result column="type" property="type"/>
	  <result column="A" property="A"/>
	  <result column="B" property="B"/>
	  <result column="C" property="C"/>
	  <result column="D" property="D"/>
	</resultMap>

	<insert id="insertMultiple" parameterType="com.ncu.testbank.teacher.data.Question">
		INSERT INTO
			multiple_exam(exam_id, question_id, rightanswer)
		VALUES(#{test_id}, #{question_id}, #{answer})
	</insert>
	
	<!-- 检索结果里没有答案字段的题目 -->
	<select id="searchExamMultipleNoAnswer" parameterType="java.lang.Long" resultMap="ViewResultMap">
		SELECT
			question_id, stuanswer, score, question, type, A, B, C, D
		FROM
			multiple_exam_v
		WHERE
			exam_id = #{exam_id}
	</select>
	
	<!-- 检索试卷多选题 -->
	<select id="searchExamMultiple" parameterType="java.lang.Long" resultMap="ViewResultMap">
		SELECT
			question_id, stuanswer, rightanswer, score, question, type, A, B, C, D
		FROM
			multiple_exam_v
		WHERE
			exam_id = #{exam_id}
	</select>
	
	<delete id="deleteOne">
		DELETE FROM multiple_exam
		WHERE
			exam_id = #{exam_id}
		AND
			question_id = #{question_id}
	</delete>
	
	<update id="updateStuAnswer">
		UPDATE
			multiple_exam
		SET
			stuanswer = #{answer }
		WHERE
			exam_id = #{exam_id }
		AND
			question_id = #{question_id }
	</update>
</mapper>