<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.teacher.dao.ISyllabusStudentDao" >

	<resultMap id="BaseResultMap" type="com.ncu.testbank.teacher.data.SyllabusStudent" >
	  <id column="syllabus_id" property="syllabus_id"/>
	  <result column="student_id" property="student_id"/>
	</resultMap>

	<resultMap id="ViewResultMap" type="com.ncu.testbank.teacher.data.view.SyllabusStudentView" >
	  <id column="syllabus_id" property="syllabus_id"/>
	  <result column="student_id" property="student_id"/>
	  <result column="student_name" property="student_name"/>
	  <result column="class_id" property="class_id"/>
	  <result column="class_name" property="class_name"/>
	  <result column="class_name" property="class_name"/>
	  <result column="course_id" property="course_id"/>
	  <result column="start" property="start"/>
	  <result column="end" property="end"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		syllabus_id, student_id
	</sql>
	
	<sql id="View_Column_List">
		syllabus_id, student_id, student_name, class_id, class_name, course_id, course_name, start, end
	</sql>
	
	<select id="getCount" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			syllabus_student_v
		WHERE
			syllabus_id = #{syllabus_id}
			<if test="student_id != null and student_id != ''">
				AND student_id = #{student_id}
			</if>
			<if test="student_name != null and student_name != ''">
				AND student_name = #{student_name}
			</if>
	</select>
	
	<select id="searchData" resultMap="ViewResultMap">
		SELECT
			<include refid="View_Column_List"/>
		FROM
			syllabus_student_v
		WHERE
			syllabus_id = #{syllabus_id}
			<if test="student_id != null and student_id != ''">
				AND student_id = #{student_id}
			</if>
			<if test="student_name != null and student_name != ''">
				AND student_name = #{student_name}
			</if>
		LIMIT ${page * rows}, #{rows}
	</select>
	
	<select id="searchCourseBySID" resultType="com.ncu.testbank.admin.data.Course">
		SELECT
			course_id, course_name as name
		FROM
			syllabus_student_v
		WHERE
			end > #{today}
		AND
			#{today} >= start
		AND 
			student_id = #{student_id}
		
	</select>
	
	<insert id="insertOne" parameterType="com.ncu.testbank.teacher.data.SyllabusStudent">
		INSERT INTO
			syllabus_student
		VALUES(#{syllabus_id},#{student_id})
	</insert>  
  
  	<delete id="deleteOne" parameterType="com.ncu.testbank.teacher.data.SyllabusStudent">
		DELETE FROM
			syllabus_student
		WHERE
			student_id = #{student_id}
		AND
			syllabus_id = #{syllabus_id}
	</delete>
</mapper>