<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.admin.dao.IAcademyDao" >

  <resultMap id="BaseResultMap" type="com.ncu.testbank.admin.data.Academy" >
    <id column="academy_id" property="academy_id"/>
    <result column="name" property="name"/>
  </resultMap>
  
  <sql id="Base_Column_List">
  	academy_id, name
  </sql>
  
  <select id="getAcademy" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT 
  		<include refid="Base_Column_List"></include>
  	FROM 
  		academy
  	WHERE 
  		academy_id = #{academy_id}
  	LIMIT 1
  </select>
  
  <insert id="insertOne" parameterType="com.ncu.testbank.admin.data.Academy">
  	INSERT INTO 
  		academy
  	VALUES
  		(#{academy_id},#{name})
  </insert>
  
  <delete id="deleteOne" parameterType="java.lang.String">
  	DELETE FROM
  		academy
  	WHERE
  		academy_id = #{academy_id}
  </delete>
  
  <update id="updateOne" parameterType="com.ncu.testbank.admin.data.Academy">
  	UPDATE
  		academy
  	SET
  		name = #{name}
  	WHERE
  		academy_id = #{academy_id}
  </update>
  
</mapper>