<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.admin.dao.IBankBuilderDao" >

	<resultMap id="BaseResultMap" type="com.ncu.testbank.admin.data.view.BankBuilderView" >
	  <id column="teacher_id" property="teacher_id"/>
	  <result column="teacher_name" property="teacher_name"/>
	  <result column="course_id" property="course_id"/>
	  <result column="course_name" property="course_name"/>
	  <result column="academy_id" property="academy_id"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		teacher_id, course_id, teacher_name, course_name, academy_id
	</sql>
	
	<select id="getCount" resultType="java.lang.Integer">
		SELECT 
			COUNT(*)
		FROM
			bankbuilder_v
		<where>
			<if test="teacher_id != null and teacher_id != ''">
				teacher_id = #{teacher_id}
			</if>
			<if test="teacher_name != null and teacher_name != ''">
				AND teacher_name = #{teacher_name}
			</if>
			<if test="academy_id != null and academy_id != ''">
				AND academy_id = #{academy_id}
			</if>
			<if test="course_id != null and course_id != ''">
				AND course_id = #{course_id}
			</if>
			<if test="course_name != null and course_name != ''">
				AND course_name = #{course_name}
			</if>
		</where>
	</select>
	
	<select id="searchCourseByTID" resultType="com.ncu.testbank.admin.data.Course" parameterType="java.lang.String">
		SELECT 
			course_id, course_name as name
		FROM
			bankbuilder_v
		WHERE
			teacher_id = #{teacher_id}
	</select>
	
	<select id="searchData" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List"></include>
		FROM 
			bankbuilder_v
		<where>
			<if test="teacher_id != null and teacher_id != ''">
				teacher_id = #{teacher_id}
			</if>
			<if test="teacher_name != null and teacher_name != ''">
				AND teacher_name = #{teacher_name}
			</if>
			<if test="academy_id != null and academy_id != ''">
				AND academy_id = #{academy_id}
			</if>
			<if test="course_id != null and course_id != ''">
				AND course_id = #{course_id}
			</if>
			<if test="course_name != null and course_name != ''">
				AND course_name = #{course_name}
			</if>
		</where>
		LIMIT ${page * rows}, #{rows}
	</select>
	
	<insert id="insertOne" parameterType="com.ncu.testbank.admin.data.BankBuilder">
		INSERT INTO 
			bankbuilder
		VALUES
			(#{teacher_id},#{course_id})
	</insert>
	
	<delete id="deleteOne" parameterType="com.ncu.testbank.admin.data.BankBuilder">
		DELETE FROM
			bankbuilder
		WHERE
			teacher_id = #{teacher_id}
		AND
			course_id = #{course_id}
	</delete>
	
</mapper>