<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.testbank.admin.dao.ITeacherDao" >

	<resultMap id="BaseResultMap" type="com.ncu.testbank.admin.data.Teacher" >
	  <id column="teacher_id" property="teacher_id"/>
	  <result column="academy_id" property="academy_id"/>
	  <result column="name" property="name"/>
	  <result column="email" property="email"/>
	  <result column="phone" property="phone"/>
	  <result column="qq" property="qq"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		teacher_id, academy_id, name, email, phone, qq
	</sql>
	
	<select id="getCount" resultType="java.lang.Integer">
		SELECT 
			COUNT(*)
		FROM
			teacher
		<where>
			<if test="teacher_id != null and teacher_id != ''">
				teacher_id = #{teacher_id}
			</if>
			<if test="academy_id != null and academy_id != ''">
				AND academy_id = #{academy_id}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
		</where>
	</select>
	
	<select id="searchData" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List"></include>
		FROM 
			teacher
		<where>
			<if test="teacher_id != null and teacher_id != ''">
				teacher_id = #{teacher_id}
			</if>
			<if test="academy_id != null and academy_id != ''">
				AND academy_id = #{academy_id}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
		</where>
		LIMIT ${page * rows}, #{rows}
	</select>
	
	<select id="getTeacher" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT 
			<include refid="Base_Column_List"></include>
		FROM 
			teacher
		WHERE 
			teacher_id = #{teacher_id}
		LIMIT 1
	</select>
	
	<!-- loadCsv文件入库 -->
	<insert id="loadCsv" parameterType="java.lang.String" >
		LOAD DATA LOCAL INFILE #{file} INTO TABLE teacher 
		CHARACTER SET gbk FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"' LINES TERMINATED BY '\r\n'
	</insert>
	
	<insert id="insertOne" parameterType="com.ncu.testbank.admin.data.Teacher">
		INSERT INTO 
			teacher
		VALUES
			(#{teacher_id},#{academy_id},#{name},#{email},#{phone},#{qq})
	</insert>
	
	<delete id="deleteOne" parameterType="java.lang.String">
		DELETE FROM
			teacher
		WHERE
			teacher_id = #{teacher_id}
	</delete>
	
	<update id="updateOne" parameterType="com.ncu.testbank.admin.data.Teacher">
		UPDATE
			teacher
		<set>
			<if test="academy_id != null and academy_id != ''">
				academy_id = #{academy_id},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="qq != null and qq != ''">
				qq = #{qq}
			</if>
		</set>
		WHERE
			teacher_id = #{teacher_id}
	</update>
  
  
  
</mapper>